
    html,
    body {
      background: pink;
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    #captcha-container {
      background: white;
      width: 390px;
      height: 300px;
      overflow: hidden;
    }
    
    #div_place {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      background-image: url('BG.jpg');
      background-size: cover;
    }

    #div_sky, #div_floor {
      position: relative;
      height: 40%;
    }

    #div_car {
      position: absolute;
      top: 50%;
      width: 200px;
      height: 100px;
    }

    #div_text {
      position: absolute;
      width: 100%;
      top: 50%;
      background: rgba(250, 250, 250, 0.8);
      text-align: center;
    }

    #span_fail {
      color: #a00;
    }

    .pigeon {
      position: absolute;
      height: 32px;
      width: 32px;
      background: url('Generic_pigeon_animation.png');
      background-position-y: -32px;
      transform: scale(1.5);
      offset-rotate: 0deg;
    }